a:hover {
	text-decoration: none;
	color: black;
}

a {
	color: black;
}

.serviceImage {
	position: relative;
}

.image {
	width: 100%;
	position: relative;
}

.hover {
	position: absolute;
	width: 100%;
	height: 100%;
}

.blackHaze {
	background-color: rgba(0,0,0,0.1);
}

.blackHaze:hover {
	background-color: rgba(0,0,0,0.0);
}

.home .cell0 h1 {
	font-weight: bold;
}

.home .cell0 .button {
	width: 190px;
	margin: 0 auto;
}



.home .cell1 {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .cell1 .blanket {
	color: white;
	padding: 20px;
	width:100%;
	height: 500px;
	position: absolute;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home .cell1 .button {
	width: 180px;
	margin: 0 auto;
	margin-top: 30px;
}

.home .cell2 {
	background-color: black;
	color: white;
}

.home .cell2 h1 {
	color: #e0e0d2;
}

.home .service {
	padding-bottom: 40px;
}

.home .services {
	display: grid;
}

.home .services {
	grid-gap: 2px;
}

.home .services h2 {
	font-weight: bold;
}

.home .services .button {
	margin-top: 20px;
}


.home .cell3 {
}

.home .cell3 .banner {
	background-color: #f5f5f0;
}



@media only screen and (min-width: 768px) {
    .services {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.home .cell3 .logos {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media only screen and (min-width: 400px) and (max-width: 768px) {
	.services {
		grid-template-columns: 1fr 1fr;
	}
}
